name: reuse_test

on:
  workflow_call:
    inputs:
      run-expression:
        required: false
        type: string
      test_a:
        required: false
        type: string
      test_b:
        required: false
        type: string
    secrets:
      token:
        required: true


jobs:
  run-reused:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.token }}

      - name: dispatch
#        if: github.event_name == 'workflow_dispatch'
        run: |
          echo ${{ inputs.run-expression }}
          echo ${{ github.ref }}

      - name: Echo branch
        run: |
          echo ${{ github.ref }}
          echo "===end==="

      - name: Echo test
        run: |
          echo ${{ inputs.test_a }}
          echo ${{ inputs.test_b }}
