name: reuse_test

on:
  workflow_call:
    inputs:
      run-expression:
        required: false
        type: string
        default: v9
    secrets:
      token:
        required: true


jobs:
  run-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.token }}

      - name: if dispatch
        if: github.event_name == 'workflow_dispatch'
        run: echo "version is v9"

      - name: Echo version
        if: github.event_name != 'workflow_dispatch'
        run: echo "version is v10"

      - name: Echo default value
        run: echo ${{ inputs.run-expression }}

#      - name: Echo branch
#        run: |
#          echo ${{ github.ref }}
#          echo "===end==="

